<a href="https://colab.research.google.com/github/DDOYEONN/BigData_Analysis_Test/blob/main/apply%EC%84%A4%EB%AA%85%EB%8F%84_%EC%9E%88%EC%9D%8C_%EC%9B%94%EB%93%9C%EC%BB%B5_%EC%B6%9C%EC%A0%84%EC%84%A0%EC%88%98_%EA%B3%A8%EA%B8%B0%EB%A1%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)
데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [33]:
import pandas as pd
import numpy as np
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [ ]:
#!!!!!!!!!!!!!!!!!!!!!!!!각 혹은 ~별이 문제에서 나왔을 경우 일단, groupby | value_counts()를 사용해보기 !!!!!!!!!!!!!!!!!!!!!!!!

In [36]:
#np.unique(df.Country)
df['Country'].unique()

array(['Germany', 'Brazil', 'France', 'Hungary', 'Argentina', 'England',
       'Peru', 'Poland', 'Italy', 'Portugal', 'Spain', 'Uruguay', 'Czech',
       'Netherlands', 'Austria', 'Bulgaria', 'Colombia', 'Croatia',
       'Ghana', 'Russia', 'Switzerland', 'Australia', 'Belgium',
       'Cameroon', 'Denmark', 'Northern Ireland', 'Sweden', 'USA', 'USSR',
       'Chile', 'Japan', 'Mexico', 'Nigeria', 'Romania', 'Slovakia',
       'Yugoslavia', 'Costa Rica', 'Ecuador', 'Ireland', 'Paraguay',
       'Saudi Arabia', 'Scotland', 'Senegal', 'South Korea', 'Turkey',
       'Algeria', 'Cote dIvoire', 'Cuba', 'Czech Republic', 'Egypt',
       'Haiti', 'Jamaica', 'Morocco', 'North Korea', 'Norway',
       'South Africa', 'Tunisia', 'Ukraine', 'Wales', 'Angola', 'Bolivia',
       'Bosnia Herz', 'El Salvador', 'Greece', 'Honduras', 'Iceland',
       'Iran', 'Iraq', 'Israel', 'Kuwait', 'New Zealand', 'Panama',
       'Serbia', 'Slovenia', 'Togo', 'UAE'], dtype=object)

In [ ]:
#각 나라의 선수가 몇 명인지 나옴
#기준이 출전 선수의 골 기록이기 때문에 
#count
df.groupby('Country')['Goals'].count().sort_values(ascending = False)

In [48]:
#각 나라의 선수들이 넣은 골이 합산해지는 것.
pd.DataFrame(df.groupby('Country')['Goals'].sum().sort_values(ascending = False).head(5))

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [49]:
pd.DataFrame(df.groupby('Country')['Goals'].count().sort_values(ascending = False).head(5))

           Goals
Country
Brazil        81
Germany       78
Italy         60
Argentina     59
France        58

Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [50]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

In [52]:
df['yearLst'] = df.Years.str.split('-')

---

In [56]:
import numpy as np
import pandas as pd

df = pd.DataFrame([[4,9],[1,4],[5,6]], columns = ['A','B'])
df

   A  B
0  4  9
1  1  4
2  5  6

In [57]:
def plus_one(x):
    x += 1
    return x

In [58]:
df['A'].apply(plus_one)

0    5
1    2
2    6
Name: A, dtype: int64

In [59]:
df['A'] = df['A'].apply(plus_one)

In [60]:
df

   A  B
0  5  9
1  2  4
2  6  6

In [ ]:
#단순한 사칙연산, 간단한 문자열 추출 lambda를 적용한 apply함수가 좋습니다. 
"lambda 입력변수 : 리턴값"
def로 만드는 것 대신 lambda로 만들려면 'lambda입력값 : 결과값' 순서로 입력변수 
적용을 시키기 위해서 apply(lambda 입력값 : 결과값)

In [61]:
df = pd.DataFrame([[4,9],[1,4],[5,6]], columns = ['A','B'])

In [62]:
df['A'].apply(lambda x : x+1)

0    5
1    2
2    6
Name: A, dtype: int64

In [64]:
df['A'] = df['A'].apply(lambda x : x+1)

In [69]:
## 전체 바꾸기
df = pd.DataFrame([[2,4,9],[3,1,4],[9,5,6]], columns = ['A','B','C'])
df

   A  B  C
0  2  4  9
1  3  1  4
2  9  5  6

In [68]:
#df값이 변한 것은 아님! 표 전체를 바꾸고 싶다면 값을 따로 할당해야 함
df.apply(lambda x : x+1)

    A  B   C
0   3  5  10
1   4  2   5
2  10  6   7

In [70]:
df[['A','C']] = df[['A','C']].apply(plus_one)

In [71]:
df.apply(np.sqrt)

          A         B         C
0  1.732051  2.000000  3.162278
1  2.000000  1.000000  2.236068
2  3.162278  2.236068  2.645751

---